*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

/* una classe per le immagini di default (non-attive) */
.img {
    border-radius: 0.5rem;
    width: 10rem;
    opacity: 0.5;
}

/* una classe per immagine "attiva" */
.imgActive {
    opacity: 1;
}